<canvas id = "canvas" id ="canvas"
<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <div class="form-wrapper">
      <%= form_tag("/posts/create") do %>
        <div class="form">
          <div class="form-body">
            <textarea name = "content"></textarea>
            <input id="new-posts" type="hidden" value="投稿">
            <div class="upload-wrapper">
              <input type="text" name="face-picture" id="face-picture" value="https://upload.wikimedia.org/wikipedia/commons/c/c3/RH_Louise_Lillian_Gish.jpg">
              <input type="button" id="face-pictures" value="送信" name="submit-image" onclick="detectFace();">
              <div id="imageDiv" style="width:420px; display:table-cell;"></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
        <!-- <input type="file" name="file"> -->
          Source image:<br><br>

          <img id="sourceImage" width="400" ondblclick="ImageClick();">
            <input type="button" id="BlackJack" value = "Game start!" onclick = "BlackJack();">
            <form name = "gameform">
            <p id='firstCard'></p>
            <p id='secondCard'></p>
            </form>
            <input type="button" id="pass" value ="パス" onclick="pass();">
            <input type="button" id="continue" value= "続ける" onclick="disabled = true;">
            <input type="button" value="次へ" onclick="newGame();">
          <div>あと:<p id="restPoint"></p><input type= "hidden" id="restPoints" value="20"></div>
    </div>
  </div>
</div>
